<!-- Carousel -->
  <div id="mainCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#mainCarousel" data-slide-to="1"></li>
    <li data-target="#mainCarousel" data-slide-to="2"></li>
    <li data-target="#mainCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="height: 400px">
    <div class="item active">
      <img src="images/museum1.jpg" alt="welcome">
      <div class="carousel-caption">
        <h3>Welcome to Art Museum</h3>
        <p>...</p>
      </div>
    </div>
    <div class="item">
      <img src="images/museum2.jpg" alt="gallery">
      <div class="carousel-caption">
        <h3>See our Gallery</h3>
        <p>...</p>
      </div>
    </div>
    <div class="item">
      <img src="images/museum3.jpg" alt="virtualTour">
      <div class="carousel-caption">
        <h3>Take a virtual tour</h3>
        <p>...</p>
      </div>
    </div>
    <div class="item">
      <img src="images/museum4.jpg" alt="program">
      <div class="carousel-caption">
        <h3>Check the programme</h3>
        <p>...</p>
      </div>
    </div>
  </div>
    <!-- <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
    -->
</div>
<!-- Description -->
<div class="container">
    <div class="row" >
      <div class="col-md-6 pull-left">
        <h3> Art museum </h3><br>
        <div class="text">
          <p>An art museum or art gallery is a building or space for the exhibition of art, usually visual art.</p>
          <p>Museums can be public or private, but what distinguishes a museum is the ownership of a collection.</p>
          <p>Paintings are the most commonly displayed art objects; however, sculpture, decorative arts, furniture, textiles, costume, drawings, pastels, watercolors, collages, prints, artists' books, photographs, and installation art are also regularly shown.</p>
        </div>
      </div>
      <div class="col-md-6 pull-left">
        <h3> Architecture </h3><br>
        <div class="text">
          <p>The architectural form of the art gallery was established by Sir John Soane with his design for the Dulwich Picture Gallery in 1817. This established the gallery as a series of interconnected rooms with largely uninterrupted wall spaces for hanging pictures and indirect lighting from skylights or roof lanterns.</p>
          <p>The late 19th century saw a boom in the building of public art galleries in Europe and America, becoming an essential cultural feature of larger cities. More art galleries rose up alongside museums and public libraries as part of the municipal drive for literacy and public education.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pull-left">
        <h3> Contemporary art gallery </h3><br>
        <div class="text">
          <p>The term contemporary art gallery refers usually to a privately owned for-profit commercial gallery. These galleries are often found clustered together in large urban centers. Smaller cities are usually home to at least one gallery, but they may also be found in towns or villages, and remote areas where artists congregate, e.g. the Taos art colony and St Ives, Cornwall.</p>
          <p>Contemporary art galleries are usually open to the general public without charge; however, some are semi-private. They usually profit by taking a portion of art sales; from 25% to 50% is typical. There are also many non-profit or collective galleries. Some galleries in cities like Tokyo charge the artists a flat rate per day, though this is considered distasteful in some international art markets. Galleries often hang solo shows. Curators often create group shows that say something about a certain theme, trend in art, or group of associated artists. Galleries sometimes choose to represent artists exclusively, giving them the opportunity to show regularly.</p>
          <p>A gallery's definition can also include the artist cooperative or artist-run space, which often (in North America and Western Europe) operates as a space with a more democratic mission and selection process. Such galleries typically have a board of directors and a volunteer or paid support staff that select and curate shows by committee, or some kind of similar process to choose art that typically lacks commercial ends.</p>
        </div>
      </div>
      <div class="col-md-6 pull-left">
        <h3> Cultural aspects</h3><br>
        <div class="text">
          <p>Many art museums throughout history have been designed with a cultural purpose or been subject to political intervention. In particular national art galleries have been thought to incite feelings of nationalism. This has occurred in both democratic and non-democratic countries, although authoritarian regimes have historically exercised more control over administration of art museums. Ludwig Justi was for example dismissed as director of The Alte Nationalgalerie (Old National Gallery) in Berlin in 1933 by the new Nazi authorities for not being politically suitable.</p>
          <p>Since the 1970s a number of political theorists and social commentators have pointed to the political implications of art museums and social relations. Pierre Bourdieu, for instance, argued that in spite the apparent freedom of choice in the arts, people's artistic preferences (such as classical music, rock, traditional music) strongly tie in with their social position. So called Cultural capital is a major factor in social mobility (for example, getting a higher-paid, higher-status job). The argument states that certain art museums are aimed at perpetuating aristocratic and upper class ideals of taste and excludes segments of society without the social opportunities to develop such interest. The fine arts thus perpetuate social inequality by creating divisions between different social groups. This argument also ties in with the Marxist theory of mystification and elite culture.</p>
        </div>
      </div>
    </div>
</div>
